/* Styling the portfolio */

body {
	margin: 0;
	font-family: serif, georgian;
	background-color: #9b9b9b;
}
header {
	height:150px;
	background-color: #e7e7e7;
}

.logo {
	font-family: serif, georgian;
	font-size: 72px;
	color: #0A0A0A;
	text-align:center;
	letter-spacing:-3;
	margin: 0;
	padding:20px;
}
header h2 {
	font-family:serif,georgian;
	color:#0A0A0A;
	magrin:0px;
	font-size: 20px;
	text-align:center;
}
h1,
h2,
h3 {
  font-family: serif,georgian;
  color: #0A0A0A;
  text-align: center;
  font-weight: 500;
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

img,
iframe {
  width: 70%;
  border-radius: 20px;
  border: 8px solid #0A0A0A;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

