/* Styling the portfolio */
html {
	height:100%;
	width:100%;
}

header {
	height:180px;
	font-family: serif,georgian;
	font-size:80px;
	text-align:center;
	
}

.logo {
	font-family: serif, georgian;
	font-size: 72px;
	color: #594839;
	text-align:center;
	letter-spacing:-3;
	margin: 0;
	padding:20px;
}
/* body and type */
body {
	margin: 0;
	font-family: serif, georgian;
	background-color: #9b9b9b;
	text-align:center;
}
p {
	font-size:16;
}
/* lists */
ul { 
	display: inline-block; 
	text-align: left; 
	}

ol {
	display:inline-block;
	text-align:left;
}
li {
	text-align:justify;
}
/* heading */
h1,
h2,
h3,
h4 {
  font-family: serif,georgian;
  color: #0A0A0A;
  text-align: center;
  font-weight: 700;
}

h1 {
  font-size: 30px;
}
h2 {
	margin:0px;
	font-size: 20px;
	
}
h3 {
  font-size: 26px;
}
h4 {
	font-size: 18px;
}
/* image */
img,
iframe {
  width: 70%;
  border-radius: 20px;
  border: 8px solid #0A0A0A;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
	font-family:serif, georgian;
	font-size:18px;
	text-align:right;
}
hr {
	border:0;
	height:2px;
	background-image:linear-gradient(
		to right, #e7e7e7, #000
	);
/* links */	
}
a {
font-weight:700;
}
a:link {
	color:black;
}
a:visited {
	color:blue;
}
a:hover {
	color:green;
}
a:active {
	color:white;
}
/* elements */

.border-top: {
padding-top: 80px;
border-top: 2px solid #000;
}
