/* Styling the portfolio */
html {
	height:100%;
	width:100%;
}
body {
	margin: 0;
	font-family: serif, georgian;
	background-color: #9b9b9b;
	text-align:center;
}
li {
	text-align:center;
	list-style-position:inside;
}
header {
	height:180px;
	font-family: serif,georgian;
	font-size:80px;
	text-align:center;
	
}

.logo. {
	font-family: serif, georgian;
	font-size: 72px;
	color: #0A0A0A;
	text-align:center;
	letter-spacing:-3;
	margin: 0;
	padding:20px;
}
header h2 {
	font-family:serif,georgian;
	color:#0A0A0A;
	magrin:0px;
	font-size: 20px;
	text-align:center;
}
h2,
h3 {
  font-family: serif,georgian;
  color: #0A0A0A;
  text-align: center;
  font-weight: 700;
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

img,
iframe {
  width: 70%;
  border-radius: 20px;
  border: 8px solid #0A0A0A;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
	font-family:serif, georgian;
	font-size:20px;
	text-align:right;
}
hr {
	border:0;
	height:2px;
	background-image:linear-gradient(
		to right, #e7e7e7, #000
	);
	
}

a:link {
	color:blueviolet;
}
a:visited {
	color:royalblue;
}
a:hover {
	color:peachpuff;
}
a:active {
	color:aqua;
}
